@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400;1,900&display=swap");

$BASE_COLOR: #008b8b;

body {
  font-family: "Roboto";
  font-size: 14px;
  div#root {
    div.App {
      div.app-header {
        background-color: $BASE_COLOR;
        div.row {
          div.app-title {
            font-family: "Pacifico";
            font-weight: bold;
            font-size: 3rem;
            color: white;
            text-shadow: 2px 2px 4px black;
          }
          div.app-menu {
            div.app-menu-item {
              display: inline-block;
              font-size: 1.1rem;
              text-align: center;
              a {
                text-decoration: none;
                color: white;
              }
              a:hover {
                color: beige;
              }
            }
          }
        }
      }
      div.app-body {
        margin: 2rem 0px 2rem 5.1rem;
        div.last-movements {
          margin: 0rem 1rem 0rem 0rem;
          display: inline-block;
        }
        div.current-position {
          display: inline-block;
        }
      }
      div.app-footer {
        font-family: "Pacifico";
        text-shadow: 1px 1px 2px black;
        color: white;
        text-align: center;
        background-color: $BASE_COLOR;
        width: 90%;
        margin: auto;
        padding: 0.8rem;
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        border-radius: 11px;
        a {
          text-decoration: none;
          color: white;
        }
        a:hover {
          color: beige;
        }
      }
    }
  }
}
